<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>HTML Iframes</title>
  <style>
  @import 'home.css';
    #grid {
      border: 5px solid none;
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    #color{
      color:white
    }

    div {
      border: 1px solid red;
    }
  </style>
</head>

<body class="home bg-pan-bl">
  <div class="header flicker-4">
    DANCEARCH
  </div>
  <div id="grid" style="width:1360px;">
    <div>
    <br><br><br><br><br><br>
      <ol>
        <h3><a id="color" href="./Frame/confirm.html ">안무 확인</a></h3>

        <br>
        <h3><a id="color" href="./Frame/register.html ">안무 등록</a></h3><br>

        <br>
        <h3><a id="color" href="./Frame/modify.html">안무 수정</a> </h3>

        <br>
        <h3><a id="color" href="./Frame/delete.html">안무 삭제</a></h3>
    </div>
    <div style="padding-left: 85px;">
      안뇽
    </div>
  </div>
</body>

</html>
